extends email-layout

block content
  h2 Confirmation Email
  p Hello and welcome. Please confirm your email.
  +button(confirmURL, 'Confirm Email')
  p If you can't click the above button please visit #{confirmURL}
  br
  p If you didn't request this email, please ignore it.