doctype html
html(lang='en')
  head
    title= `${title}`
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="/styles/bootstrap.css")
    link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
    link(rel="icon" href="/favicon.ico" type="image/x-icon")
    base(href="/")
  body

  .content
      block content
        p This is the default!

  block scripts
    script(src="bundle.js")