html {
  height: 100%;
}

body {
  margin: 0;
  padding-bottom: 100px;
  position: relative;
  min-height: 100%;
}

a[role='tab'] {
  cursor: pointer;
}

p:last-child {
  margin-bottom: 0;
}

#main {
  padding-bottom: 30px;
}

.panel {
  box-shadow: none;
  margin-bottom: 40px;
}

.medium-zoom-overlay {
  z-index: 10;
}

.medium-zoom-overlay + img {
  z-index: 11;
}
