html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

a[role='tab'] {
  cursor: pointer;
}

h1 {
  margin-bottom: 2rem;
}

p:last-child {
  margin-bottom: 0;
}

pre {
  width: 100%;
  padding: 1rem;
  margin: 0;
  overflow: auto;
  overflow-y: hidden;
  background: lightgoldenrodyellow;
  border-radius: 0.25rem;
}

pre code {
  padding: 10px;
  color: #333;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
}

.tab-content > .tab-pane {
  padding-top: 30px;
}

#main {
  padding-bottom: 60px;
}

#main > .container:first-child {
  padding-top: 50px;
}

.navbar {
  margin-bottom: 0;
}

.btn-toolbar > * + * {
  margin-left: 0.5rem;
}

.dropdown-menu {
  left: -2.5rem;
}

.navbar-dark .navbar-text,
.navbar-dark .navbar-brand a {
  color: #fff;
}

.card {
  margin-bottom: 20px;
}

.question {
  margin-bottom: 50px;
}

.media + .media {
  margin-top: 32px;
}

.medium-zoom-overlay {
  z-index: 10;
}

.medium-zoom-overlay + img {
  z-index: 11;
}

.form-label + .form-check-inline {
  margin-left: 1rem;
}

.frontview-wrapper {
  flex: 1;
}

.justify-content-label {
  display: flex;
  justify-content: space-between;
}

.required-field {
  position: relative;
}

.required-field::after {
  position: absolute;
  content: '*';
  top: -0.1rem;
  right: -0.5rem;
  color: #dc3545;
  font-size: 1.2rem;
  font-weight: bold;
}
